.row
  %br
  %br
  .well.login.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
    = image_tag 'quipper.png', class:'img-responsive'
    %h1.text-center Welcome
    %br
    .form-group.text-center.color_blue
      = link_to 'Questions Admin', "/question_answers"
    %br
    .form-group.text-center.color_blue
      = link_to 'Questionnaire', "/questionnaires"