%p#notice= notice

%table.table
  %thead
    %tr
      %th
  %tbody
    - numberQuestion=1
    =@questionnaire.title
    - @questionnaireDetail.each do |answer|
      %tr
        %th
          %label="Question Number "+numberQuestion.to_s
          - @question_answer = QuestionAnswer.where(id:answer.idquestion)
          = raw @question_answer[0].question
          .field
            %label
              = raw "Answer by user on Quiz mode: "+answer.answerUser+" "+ answer.eval
          - numberQuestion = numberQuestion+1

\|
= link_to 'Back', questionnaires_path
